body {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 240px;
  background: rgb(40, 40, 40);
  font-family: "Noto Sans JP", sans-serif;
}


.row {
  display: flex;
  justify-content: center;
}
.sq{
  display:block;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  margin: 8px;
}
.sq:hover{
  filter: brightness(64%);
}
a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 4px;
  font-weight: 500;
  padding: 4px;
}


.blue{
  background-color: rgb(75, 135, 255);
}
.yellow{
background-color: rgb(255, 203, 46);
}
.green{
  background-color: rgb(62, 180, 66);
}
.red{
  background-color: rgb(236, 37, 50);
}
.purple{
  background-color: rgb(136, 54, 212);
}
.rain{
  background-image: linear-gradient(
    90deg, rgb(209, 57, 57) 25%, rgb(226, 183, 43) 25% 50%, rgb(42, 182, 75) 50% 75%, rgb(58, 88, 222) 75% 100%);
}
.gemi{
  background-image: linear-gradient(
    45deg, rgb(61, 104, 234)32%, rgb(222, 116, 255));
}
.white{
  background-color: white;
}